# Python virtual environment
app/venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE settings
.vscode/
.idea/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
